.logo{
    width: 7vw;
}
#navbar{
    margin-left: 7%;
}

.card{
    width: 20vw;
    height: 15vw;
}
.container-fluid{
    margin: 0px !important;
    padding: 0px !important;
}
.btn-success{
    background: hsl(97.03deg 73.56% 65.88%)!important;
    color: black !important;
    border: 1px solid hsl(97.03deg 73.56% 65.88%) !important;
}
.border.border-success{
    border: 1px solid hsl(97.03deg 73.56% 65.88%) !important;
}
.bg-success-subtle{
    background: hsl(96, 13%, 70%) !important;
}
.btn-outline-success{
    border: 1px solid hsl(97.03deg 73.56% 65.88%) !important;
}
.btn-outline-success:hover{
    border: 1px solid hsl(97.03deg 73.56% 65.88%) !important;
    background-color:  hsl(97.03deg 73.56% 65.88%) !important;
    color: black !important;
}